* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.siteButton {
  display: inline-block;
  width: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.siteButton svg {
  background-color: rgb(8, 91, 129);
  height: 100px;
  width: 100px;
  border-radius: 20%;
  color: white;
}

.siteButton p {
  color: black;
}
