:root {
  --first-color: #09637e;
  --second-color: #088395;
  --third-color: #7ab2b2;
  --forth-color: #ebf4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
}

.main-banner-container {
  width: 100%;
  height: 100%;
  /* flex: 1; */
  border-radius: 30px;
  border: 1px solid var(--second-color);
  box-shadow: 0 0 10px 1px var(--first-color);
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.siteButton {
  display: inline-block;
  width: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.siteButton svg {
  background-color: var(--second-color);
  padding: 20px;
  /* height: 100px;
  width: 100px; */
  border-radius: 20%;
  color: var(--forth-color);
}

.siteButton p {
  color: var(--forth-color);
  margin: 10px 0 20px;
  font-weight: 300;
  text-align: center;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100%;
  height: 100%; */
}

.logo-line {
  background-color: var(--forth-color);
  width: 100%;
  height: 5px;
}

.logo-container > svg {
  /* width: 100%;
  height: 100%; */
  /* width: 2000px; */
  color: var(--forth-color);
  margin: 0 30px;
}

.projects-container {
  /* margin-left: 50px; */
  /* gap: 10px; */
  /* display: grid; */
  /* grid-template: 1fr 1fr / 1fr 1fr; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .projects-container {
    gap: 0px;
    flex-direction: column;
  }
  .siteButton {
    width: 70px;
    margin: 10px 0 0;
  }
  .siteButton svg {
    padding: 10px;
  }
  .siteButton p {
    font-size: 15px;
  }
}
